.growth-rate-chart {
    border-radius: 5px;
    flex: 1;
    height: 288px;
    background-color: white;
}

.growth-rate-chart .chart-header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 30px 20px;
}

.growth-rate-chart .chart-title {
    font-size: 22px;
    color: var(--secondary-color-3);
    font-weight: 700;
}

.growth-rate-chart .chart-description {
    font-size: 14px;
    font-weight: var(--font-weight-base);
    color: var(--secondary-color-3);
    margin-bottom: 40px;
}

.growth-rate-chart .chart-percentage {
    font-size: 44px;
    color: #40A356;
    font-weight: 700;
    text-align: center;
}

/* .growth-rate-chart-container {
    width: 100%;
    height: 200px;
    position: relative;
}

.growth-rate-chart-container canvas {
    width: 100% !important;
    height: 100% !important;
} */

@media only screen and (max-width: 1290px) {
    .growth-rate-chart .chart-header {
        padding: 30px 10px;
    }   
}